In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

train_data_path = '../data/train_nepali_ner.csv'
test_data_path = '../data/test_nepali_ner.csv'

df_train = pd.read_csv(train_data_path)
df_test = pd.read_csv(test_data_path)

df_train.shape, df_test.shape

((256389, 3), (37853, 3))

In [6]:
# train data samples
df_train.head()

   sentences     word    entity
0          0  बर्मेली         O
1          0     भाषा         O
2          0   मात्रै         O
3          0   जान्ने         O
4          0     अनिल  B-Person

In [10]:
train_sent = df_train['sentences'].nunique()
test_sent = df_test['sentences'].nunique()

print(f'Total sentences in train data: {train_sent}')
print(f'Total sentences in test data: {test_sent}')

Total sentences in train data: 12352
Total sentences in test data: 1759

In [14]:
# Entity Distribution

df_train['entity'].value_counts().to_frame()

                entity
O               221304
B-Person          7707
I-Organization    5737
B-Location        5148
B-Organization    4756
I-Person          4255
B-Date            3394
I-Date            2726
I-Location         579
I-Event            471
B-Event            312

In [ ]:
#